body {
	background-color: rgb(33, 150, 243);
}

.link {
	margin-right: 1rem;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
	color: rgb(33, 150, 243);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
